{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('errorCss') }}
{% endblock %}

{% block body %}
    <main class="error-404">
        <div></div>
    </main>
{% endblock %}
