<div class="responsive-button">
	<a class="btn-goodeals mobile btn-goodeals-other-mobile" href="{{ path('form_goodeal_new') }}">
		+
	</a>
</div>
<a class="btn-goodeals btn-goodeals-other" href="{{ path('form_goodeal_new') }}">
	Ajoute un GooDeal
</a>
