{% block footer %}

 <footer class= "global-footer">
    <ul class= "ul-footer">
        <li class="li-footer"><a class="a-footer" href="/legal">Mentions légales</a></li>
        <li class="li-footer"><a class="a-footer" href="/contact">Contact</a></li>
        <li class="li-footer1"><a target="_blank" href="https://wilders.co/" class="a-footer">Créé par les wilders pour les wilders</a></li>   
    </ul>
 </footer>
{% endblock %}
