<nav>
	{% for event in events %}
		<a {% if event == category %} class="active" {% endif %} href="/announcements/region/{{ selectedRegion }}?announcement={{ event }}">{{event}}</a>
	{% endfor %}
</nav>
